// =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
// OBJECT: COLUMNS
// =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

// Variables
$gap: 40px !default;

// Output
.o-columns {
    --gap: #{$gap};
    --gap-x: var(--gap);
    --gap-y: var(--gap);

    display: flex;
    flex-wrap: wrap;

    margin-bottom: calc(-1 * var(--gap-y));
    margin-right: calc(-1 * var(--gap-x) / 2);
    margin-left: calc(-1 * var(--gap-x) / 2);
}
