// =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
// SETTINGS: FONTS SIZE
// =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

$fonts-size: (
    body: 16px,
    h1  : 46px,
    h2  : 36px,
    h3  : 28px,
    h4  : 24px,
    h5  : 20px,
    h6  : 18px,
) !default;
